@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /* importacao de fonte */


header,
main {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #c9c9c9, #504f4f);
    outline: none;
    border: solid 1px white;
}